env
media
static

.env


# Help Files for development

buildDocker.bat
docker-compose.dev.yml
runtime-control.bat
runtime-only.docker-compose.yml
startDocker.bat
startWorker1.sh
up.bat

# caches and migration files
**/__pycache__/**
!**/__pycache__
!**/__pycache__/__init__.cpython-312.pyc
**/migrations/**
!**/migrations
!**/migrations/__init__.py

**.old**