<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 21.71px;">
    <br />
    <div style="display: flex; justify-content: center; width: 100%;">
      <img
        src="{{ domain_url }}/assets/img/logos/logo_big.png"
        alt=""
        style="max-width: 300px; height: auto;"
      />
    </div>

    <p>Dear {{ user.username }},</p>
    <p>
      Thank you for registering with
      <a href="{{ domain_url }}" target="_blank" style="text-decoration: none;"
        >Videoflix</a
      >. To complete your registration and verify your email address, please
      click the link below:
    </p>
    <br />
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td bgcolor="#2e3edf" style="padding: 16px 32px; border-radius: 40px; text-align: center;">
          <a href="{{ activation_url }}" target="_blank"
             style="color: white; font-size: 18px; font-weight: 700; text-decoration: none;">
            Activate account
          </a>
        </td>
      </tr>
    </table>
    <br />
    <br>

    <p>
      If you did not create an account with us, please disregard this email.
    </p>

    <p>Best regards,</p>

    <p>Your Videoflix Team</p>
  </body>
</html>